# This is Git's per-user configuration file.
{% for workspace in workspaces %}
	{% if loop.first %}
	[includeIf "gitdir:{{ workspace }}"]
		path = {{ workspace }}/.gitconfig
	{% endif %}
{% endfor %}
[core]
    editor = code --wait
