[user]
    name = {{ user_name }}
    email = {{ user_email }}
{% if gpg.enabled %}
    signingkey = {{ gpg.signing_key }}

[commit]
    gpgsign = true

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = {{ gpg.allowed_signers }}
    {% if gpg.program %}
          program = {{ gpg.program }}
    {% endif %}

{% endif %}

[url "git@github.com:(.*)/"]
    insteadOf = https://github.com/$1/
