# Load oh-my-zsh plugin manager
autoload -U +X compinit && compinit

# Load plugins
source $HOME/.zsh/lib/git.zsh
source $HOME/.zsh/plugins/git/git.plugin.zsh
source $HOME/.zsh/plugins/zoxide/zoxide.plugin.zsh

# Load aliases
source $HOME/.aliases

# Load sdkman
export SDKMAN_DIR=$(brew --prefix sdkman-cli)/libexec
[[ -s "${SDKMAN_DIR}/bin/sdkman-init.sh" ]] && source "${SDKMAN_DIR}/bin/sdkman-init.sh"

# Load nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$(brew --prefix)/opt/nvm/nvm.sh" ] && source "$(brew --prefix)/opt/nvm/nvm.sh"

# Load pyenv
alias brew='env PATH="${PATH//$(pyenv root)\/shims:/}" brew'
export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"
if which pyenv-virtualenv-init > /dev/null; then eval "$(pyenv virtualenv-init -)"; fi

# Set VS Code as default editor
export EDITOR="code --wait"

# Fix for GPG
export GPG_TTY=$(tty)
