# This is Git's per-user configuration file.
{%- for workspace in workspaces +%}
    [includeIf "gitdir:{{ workspace.path }}/"]
	    path = {{ workspace.path }}/.gitconfig
{%- endfor +%}

[core]
    editor = {{ default_editor }}
